<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="max-age=200" />
        <meta name="author" content="PersonalizedMods">
        <meta name="keywords" content="FiveM, FiveM Roleplay, Peronalized, Peronalized Modifications, Peronalized Mods, GTA">
        <title>Personalized Modifications | Quality models for cheap price.</title>
        <meta name="description" content="Utilizing our service gives you the chance to get one of the best fivem models/packs for a really affordable price.">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="670">
        <meta property="og:description" content="Utilizing our service gives you the chance to get one of the best fivem models/packs for a really affordable price.">
        <meta property="og:url" content="/">
        <meta property="og:title" content="Peronalized Mods">
        <meta property="og:image" content="images/pmlogo.png">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://personalizedmods.com">
        <meta property="twitter:title" content="Peronalized Mods">
        <meta property="twitter:description" content="BUtilizing our service gives you the chance to get one of the best fivem models/packs for a really affordable price.">
        <meta property="twitter:image" content="images/pmlogo.png">

        <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
        <link rel="manifest" href="./images/site.webmanifest">
        <link rel="shortcut icon" href="./images/favicon.ico">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <img src="https://cdn.discordapp.com/attachments/903375622800277544/993162792532201493/bg.png" class = 'left-img'  />
        <div class="header-bar">
            <div class="header">
                <div class="header-buttons">
                    <a class="header-button" href="/" target="blank"><i class="fa-solid fa-cash-register"></i>  PURCHASE</a>
                    <a class="header-button" href="https://discord.gg/BV7qqsWM5m" target="blank"><i class="fa-brands fa-discord"></i>  COMMUNITY</a>
                    <a class="header-button header-button-faq"><i class="fa-solid fa-circle-question"></i>  FAQ</a>
                    <a class="header-button" href="/" target="blank"><i class="fa-solid fa-file-invoice"></i>  INFO</a>
                </div>  
                <div class="header-logo"><img src="https://cdn.discordapp.com/attachments/993130836318761020/993168710619644035/Group_20.png"/></div>
                <div class="header-desc">Get the top GTA car models here at the most reasonable cost.</div>
               
                <div class="header-login-container">
                    <a class="header-login" href="/" style="border: radius 33px;" target="blank"><i class="fa-brands fa-discord"></i> JOIN OUR DISCORD</a>
                </div>
            </div>
        </div>
        <div class="header-videos-title">Our <b style="text-decoration:underline;color:#5865f2;">TOP</b> Packs on sale</div>
        <div class = 'header-videos'>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2022</b> Valor Pack</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://www.youtube.com/watch?v=0SPeYP2gd5k" target="blank"><img src="/images/1.png" class="header-video-image"></img></a></div>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2022</b> Texas DPS Pack</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://www.youtube.com/watch?v=3_2xagGDUUo" target="blank"><img src="/images/2.png" class="header-video-image"></img></a></div>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2021</b> CHP Pack</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://www.youtube.com/watch?v=kdyldQbRhDw" target="blank"><img src="/images/3.png" class="header-video-image"></img></a></div>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2021</b> Whelen Pack</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://youtu.be/fTd9Zky07dQ" target="blank"><img src="/images/4.png" class="header-video-image"></img></a></div>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2021</b> Valor Alaska Pack</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://youtu.be/TB-8GYRgv2U" target="blank"><img src="/images/5.png" class="header-video-image"></img></a></div>
            <div class="header-video"><div class="header-video-label"><b style="color:#5865f2; opacity: 100%; font: size 3px;"><i class="fa-solid fa-calendar-chec"></i>2021</b> Texas DPS EUP</div><div class="header-video-play"><i class="fa-solid fa-cart-shopping"></i></i></div><a href="https://www.youtube.com/watch?v=f6eg4mVw3Lw" target="blank"><img src="/images/6.png" class="header-video-image"></img></a></div>
        </div>
      
           
                
    
                </div>
            </div>
        </div>

            <img src="images/pmlogohead.svg"  class="center"></img>

           
            <div class="footer-text">Copyright 2022 Peronalized Modifications. Created by <a href="https://bakhishov.com" target="blank" class="elbayxsv">Elbayy#0001</a></div>
        </div>
        <br>
        <br>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <script src="script.js"></script>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    --main-orange: #5865f2;
    --main-orange-bright: #5865f2;
}

body {
    user-select: none;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: bold;
    display: block;
    background-color: rgb(12, 12, 18);
    color: #fff;
    font-size: 0.8vmax;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin-left: 10%;
}

.left-img {
    position: absolute;
    width: 41vw;
    top: 0;
}

.header-bar {
    position: relative;
    float: right;
    top: 5vh;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin-bottom: 5vh;
}

.header {
    position: absolute;
    right: 10%;
    width: 50vw;
}

.header-logo {
    height: 30vh;
    display: flex;
    justify-content: center;
}

.header-logo img {
    width: auto;
    height: 100%;
}

.header-desc {
    position: relative;
    font-size: 2.8vmax;
    width: 80%;
    left: 10%;
    margin-bottom: 3vh;
    text-align: center;
}

.header-desc2 {
    font-size: 0.9vmax;;
    text-align: center;
    margin-bottom: 6vh;
    font-family: 'Work Sans', sans-serif;
}
 
.header-login-container {
    display: flex;
    justify-content: center;
}

.header-login {
    text-align: center;
    padding: 2vh 2vw;
    border: 2px solid var(--main-orange);
    box-shadow: #5865f2;
    background-color: #5865f2;
    font-size: 1.8vmax;
    transition: all ease .1s;
}

.header-login:hover {
    background-color: var(--main-orange-bright);
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-button {
    padding: 1.2vh 1.2vw;
    margin: 1.5% 1.5%;
    border-radius: 1px;
    background-color: rgba( 255, 250, 255, 0.1);
    text-align: center;
    font-size: 1vmax;
    transition: all ease .1s;
    cursor: pointer;
}

.header-button:hover {
    background-color: var(--main-orange-bright);
}

.header-videos {
    width: 70%;
    padding: 0 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.header-videos-title {
    text-align: center;
    margin: 2vh 0vh;
    font-size: 2.2vmax;
    color: var(--main-orange);
}


.header-video {
    position: relative;
    width: 31%;
    margin: 1.5% 1% 1.5% 1%;
}

.header-video-label {
    margin-bottom: 3vh;
    font-size: 0.9vmax;
}

.header-video-image {
    width: 100%;
    height: auto;
}

.header-video-play {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4vmax;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    line-height: 13rem;
    pointer-events: none;
    transition: all ease .3s;
}

.header-video:hover .header-video-play {
    color: var(--main-orange);
}

.header-subtitle {
    font-size: 1.1vmax;
    text-align: center;
    margin-top: 2vh;
}

.header-subtitle-link {
    color: var(--main-orange-bright);
    text-decoration: underline;
}

.header-faq {
    width: 70%;
    padding: 2vh 15%;
    margin-top: 10vh;
    height: auto;
    background-color: rgb(20, 20, 30);
}

.header-faq-line {
    color: rgba(40, 40, 40, 0.7);
    margin: 6vh 0 3vh 0;
}

.header-faq-title {
    text-align: center;
    margin: 3vh 0vh;
    color: var(--main-orange);
}

#trusted {
    font-size: 2.5vmax;
}
#faq {
    font-size: 2vmax;
}

.customer-comments-container {
    width: 100%;
}

.customer-comments {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
}


.customer-comment {
    width: 25%;
    margin-top: 5vh;
}

.customer-comment-logo {
    text-align: center;
    color: var(--main-orange);
    font-size: 2vmax;
    margin-bottom: 3vh;
}

.customer-comment-text {
    word-wrap: break-word;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 5vh;
}

.customer-comment-author {
    text-align: center;
}

.footer {
    position: static;
    height: 21vh;
    bottom: 0;
    background-color: rgb(24, 25, 35)
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    padding: 3% 40% 0% 40%;
}

.footer-logo {
    font-size: 2.4vmax;
}

.footer-text {
    font-family: 'Work Sans', sans-serif;
    padding: 2% 10% 0 10%;
    width: 80%;
    text-align: center;
    font-weight: 500;
}

#footer-discord {
    color: #5c6bc0
}
#footer-youtube {
    color: #db2724
}
#footer-github {
    color: rgb(230, 230, 230)
}
.orange {
    color: var(--main-orange);
}

.elbayxsv {
    text-decoration: underline;
    color: #5865f2;
}

/* accordion  */
.accordion-container {
    height: auto;
}

.accordion-item {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: 1px solid rgba(40, 40, 40, 0.7);
    border-radius: 5px;
    margin: 0.5vh 0;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion-line {
    width: 100%;
    color: rgba(40, 40, 40, 0.7);
}

.accordion {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-family: 'Work Sans';
    font-weight: bold;
    text-align: left;
    padding: 1.5vh 1vw;
    line-height: 2.4vh;
    outline: none;
    font-size: 1.0vmax;
    border: none;
}

.accordion:after {
    content: '\002B';
    float: right;
    margin-right: 1vw;
    font-size: 1vmax;
    transition: all ease 0.4s;
}

.active:after {
    transform: rotate(-225deg);
}

.panel {
    padding: 0 1vw;
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-orange);
    max-height: 0;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 0.9vmax;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* MOBILE */
@media screen and (max-width: 1100px) {
    .left-img {
        display: none;
    }

    .header {
        width: 90%;
        right: 5%;
    }

    .header-button {
        padding: 2vh 2vw;
        font-size: 1.6vmax;
    }

    .header-desc {
        font-size: 3vmax;
    }

    .header-desc2 {
        font-size: 1.2vmax;
    }

    .header-login {
        padding: 2vh 3vw;
        font-size: 2vmax;
        width: 80%;
    }

    .header-bar {
        float: none;
        height: 75vh;
    }

    .header-videos {
        width: 90%;
        padding: 0 5%;
    }
    
    .header-video {
        width: 46%;
        margin: 2% 2% 2% 2%;
    }
    
    .header-video-label {
        margin-bottom: 1.5vh;
        font-size: 1.5vmax;
    }

    .header-videos-title {
        font-size: 4vmax;
        margin: 5vh 0;
    }

    .header-video-play {
        font-size: 5vmax;
        line-height: 6.8rem;
    }

    .header-subtitle {
        font-size: 2.2vmax;
    }

    .header-faq {
        width: 90%;
        padding: 2vh 5%;
        margin-top: 6vh;
    }

    .customer-comment {
        width: 80%;
        font-size: 1.5vmax;
    }

    .customer-comment-text {
        margin-bottom: 4vh;
    }

    .customer-comment-logo {
        font-size: 2.5vmax;
        margin-bottom: 2vh;
    }

    .customer-comment-author {
        font-size: 1.9vmax;
    }

    #faq {
        font-size: 3vmax;
    }

    .accordion {
        font-size: 1.5vmax;
    }
    
    .accordion:after {
        font-size: 1.8vmax;
    }

    .panel {
        font-size: 1.3vmax;
    }

    .footer {
        height: 21vh;
    }
    
    .footer-logos {
        display: flex;
        justify-content: space-between;
        padding: 8% 30% 2% 30%;
    }

    .footer-logo {
        font-size: 5vmax;
    }

    .footer-text {
        font-size: 1.4vmax;
    }
}
</style>